<div class="container-fluid">
  <header>
    <div class="row" style="background-color: black">
      <div class="col-md-3"
           style="text-align: center;line-height:25px;color: white; font-weight: bold;padding-top: 5px;padding-bottom: 5px;font-style: italic">
        FURAMA - KHU RESORT ĐẲNG CẤP
      </div>
      <div class="col-md-9"
           style="text-align: center; line-height:25px;color: white;padding-bottom: 7px;padding-top: 7px;">
        <i  class="fa fa-envelope" style="color:#ece507; padding-right: 3px"></i>
        <span style="color: white; padding-right: 5px">reservation@furamavietnam.com</span>
        <i class="fa fa-phone" style="color: #ece507;padding-right: 3px;padding-left: 10px"></i>
        <a style="color: white;text-decoration: none;padding-right:5px">84-236-3847 333/888</a>

      </div>
    </div>
  </header>

</div>
