<div style="min-height:58vh" class="container" >
  <div style="text-align: center;margin: 5px">
    <h1>List Facility</h1>

    <a routerLink="/facilities/create">
      <button style="margin: 10px" type="button" class="btn btn-info">Add New Facility</button>
    </a>

<!--        <form >-->
    <div>
      <input #nameSearch type="text" name="nameSearch" placeholder="Search name" style="margin-right: 10px">
      <select style="margin-right: 10px;height: 30px;width: 70px" name="facilityType">
        <option value="" selected>Type</option>
        <option value=""></option>
      </select>
      <input type="submit" value="Search" (click)="search(nameSearch.value)">
    </div>
<!--        </form>-->
  </div>
  <table class="table table-dark" style="text-align: center; box-sizing: border-box;min-width: 100%;min-height: 196px;display: block">
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Area</th>
      <th>Price</th>
      <th>Max People</th>
      <th>Standard Room</th>
      <th>Description Other Convenience</th>
      <th>Pool Area</th>
      <th>Floors</th>
      <th>Facility Free</th>
      <th>Rent Type</th>
      <th>Facility Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of facilities; let i = index">
      <td>{{currentPage * 2 + i - 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.area}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.maxPeople}}</td>
      <td>{{item.standardRoom}}</td>
      <td>{{item.descriptionOfOtherConvenience}}</td>
      <td>{{item.poolArea}}</td>
      <td>{{item.numberOfFloors}}</td>
      <td>{{item.facilityFree}}</td>
      <td>{{item.rentType}}</td>
      <td>{{item.facilityType}}</td>
      <td><a class="btn btn-danger">edit</a></td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="sendToDetailModal(item.id)">
          Delete Faclitity
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="..." class="justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previous()" *ngIf="currentPage > 1">&laquo; Trang trước</a>
      </li>
      <li class="page-item disabled" *ngIf="currentPage <= 1">
        <a class="page-link">&laquo;</a>
      </li>

      <li class="page-item"><a class="page-link disabled" [text]="currentPage + ' / ' + totalPage" *ngIf="currentPage <= totalPage"></a>
      </li>

      <li class="page-item">
        <a class="page-link" (click)="next()" *ngIf="currentPage < totalPage">Trang sau &raquo;</a>
      </li>
      <li class="page-item disabled" *ngIf="currentPage >= totalPage">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>
  <div *ngIf="deleteFacility"  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{deleteFacility.name}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteItemFacility(deleteFacility.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

